<header class="navbar">
    <div class="navbar-logo">
        {% if hikingAssociation is not empty %}
            <a href="#" class="hiking-association-exists"><img src="/Split.jpg" alt="Logo"></a>
{#            TODO naziv društva inline#}
{#            <p id="hiking">123</p>#}
        {% endif %}
        <a href="{{ path('default') }}" class="hiking-association-does-not-exist" data-navigo>PRETRAŽIVANJE DRUŠTVA</a>
    </div>

    <nav class="navbar-menu-hiking-association navbar-menu hiking-association-exists">
        {% if hikingAssociation is not empty %}
            {% include "segments/hiking-association-nav.html.twig" with {'hikingAssociation': hikingAssociation} %}
        {% endif %}
    </nav>

    <div class="navbar-auth">
        {% if app.user %}
            <a href="{{ path('my_profile') }}" data-navigo>PROFIL</a>
            <a href="{{ path('logout') }}">ODJAVA</a>
        {% else %}
            <a href="{{ path('login') }}" data-navigo>PRIJAVA</a>
            <a href="{{ path('registration') }}" data-navigo>REGISTRACIJA</a>
        {% endif %}

        {% if hikingAssociation is not empty %}
            <a href="{{ path('default') }}" class="hiking-association-exists" data-navigo>PRETRAŽIVANJE DRUŠTVA</a>
        {% endif %}
    </div>
</header>