<ul>
{#    <li><a href="{{ path('hiking_association_info', { 'hikingAssociation': hikingAssociationId }) }}">O NAMA</a></li>#}
{#    <li><a href="{{ path('hiking_association_sections', { 'hikingAssociation': hikingAssociationId }) }}">SEKCIJE</a></li>#}
{#    <li><a href="{{ path('hiking_association_trips', { 'hikingAssociation': hikingAssociationId }) }}">IZLETI</a></li>#}
{#    <li><a href="{{ path('hiking_association_news', { 'hikingAssociation': hikingAssociationId }) }}">VIJESTI</a></li>#}
{#    <li><a href="{{ path('hiking_association_guides', { 'hikingAssociation': hikingAssociationId }) }}">VODIČI</a></li>#}
    <li><a role="button" id="info">O NAMA</a></li>
    <li><a role="button" id="sections">SEKCIJE</a></li>
    <li><a role="button" id="trips">IZLETI</a></li>
    <li><a role="button" id="news">VIJESTI</a></li>
    <li><a role="button" id="guides">VODIČI</a></li>
    <li><a role="button" id="contact">KONTAKT</a></li>
</ul>