<div class="center-column">
    <p class="name">{{ trip.name }}</p>
    <p class="name-smaller" style="margin-top: 10px">{{ trip.locationName }}</p>

    <div class="trip-data">
        <div class="trip-data-space-out">
            <div>
                <p class="trip-title">POLAZAK</p>
                <p>{{ trip.startDate|date('d.m.Y. H:i') }}</p>

                <p class="trip-title">POVRATAK</p>
                <p>{{ trip.endDate|date('d.m.Y. H:i') }}</p>
            </div>

            <div>
                <p class="trip-title">OPIS</p>
                <p>{{ trip.description }}</p>
            </div>

            <div>
                <p class="trip-title">UPUTE O PRIJEVOZU</p>
                <p>{{ trip.transportDescription }}</p>
            </div>

            <div class="capacity">
                <p class="trip-title">UKUPNO MJESTA</p>
                {% if freeSpace > 0 %}
                    <p>Ostalo je još {{ freeSpace }} slobodnih mjesta! (od ukupno {{ trip.availableCapacity }})</p>
                {% else %}
                    <p>Sva mjesta za ovaj izlet su već popunjena! (od ukupno {{ trip.availableCapacity }})</p>
                {% endif %}
            </div>
            <div>
                <a class="small-button" id="send-trip-mail" href="{{ path('trips_info_mail', { 'hikingAssociation': trip.hikingAssociation.id, 'trip': trip.id }) }}">POŠALJI INFO NA EMAIL</a>
            </div>
        </div>

        <div>
            <div id="map" location="{{ trip.locationName }}" longitude="{{ trip.location.longitude }}" latitude="{{ trip.location.latitude }}"
            style="height: 400px; width: 400px;"></div>
        </div>
    </div>
</div>

{% include "hiking-association/guides.html.twig" with {'guides': trip.guides} %}

<div id="payment-container" style="margin: 100px"></div>
