<div id="registration">
    <div>
        <form id="registration-form" method="post">
            <div id="registration-form-style">
            {{ form_start(form) }}

                <div class="label-input-container-side">
                    {{ form_label(form.FirstName, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.FirstName) }}
                </div>

                <div class="label-input-container-side">
                    {{ form_label(form.LastName, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.LastName) }}
                </div>

                <div class="label-input-container-side">
                    {{ form_label(form.OIB, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.OIB) }}
                </div>

                <div class="label-input-container-side">
                    {{ form_label(form.email, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="label-input-container-side">
                    {{ form_label(form.password.first, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.password.first) }}
                </div>

                <div class="label-input-container-side">
                    {{ form_label(form.password.second, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.password.second) }}
                </div>

                <div id="form-errors">
                    {% if error is defined and error is not empty %}
                        <p class="input-error-side">{{ error.message|default('')|trans }}</p>
                    {% endif %}
                </div>
            </div>
            <div>
                <input id="registration-button" type="submit" value="REGISTRIRAJ SE">
            </div>
            {{ form_end(form) }}
        </form>
    </div>
</div>