<div id="registration">
    <div>
        <form id="registration-form" method="post">
            <div id="registration-form-style">
            {{ form_start(form) }}

                <div class="label-input-container-side">
                    {{ form_label(form.FirstName, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.FirstName) }}

                    <p></p>
                    <p class="input-error-side">
                        {% for error in form.FirstName.vars.errors %}
                            * {{ error.message|trans }}
                        {% endfor %}
                    </p>
                </div>

                <div class="label-input-container-side">
                    {{ form_label(form.LastName, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.LastName) }}

                    <p></p>
                    <p class="input-error-side">
                        {% for error in form.LastName.vars.errors %}
                            * {{ error.message|trans }}
                        {% endfor %}
                    </p>
                </div>

                <div class="label-input-container-side">
                    {{ form_label(form.OIB, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.OIB) }}

                    <p></p>
                    <p class="input-error-side">
                        {% for error in form.OIB.vars.errors %}
                            * {{ error.message|trans }}
                        {% endfor %}
                    </p>
                </div>

                <div class="label-input-container-side">
                    {{ form_label(form.email, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.email) }}

                    <p></p>
                    <p class="input-error-side">
                        {% for error in form.email.vars.errors %}
                            * {{ error.message|trans }}
                        {% endfor %}
                    </p>
                </div>

                <div class="label-input-container-side">
                    {{ form_label(form.password.first, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.password.first) }}

                    <p></p>
                    <p class="input-error-side">
                        {% for error in form.password.first.vars.errors %}
                            * {{ error.message|trans }}
                        {% endfor %}
                    </p>
                </div>

                <div class="label-input-container-side">
                    {{ form_label(form.password.second, null, { 'label_attr': { 'class': 'label-side' } }) }}
                    {{ form_widget(form.password.second) }}
                </div>
            </div>
            <div>
                <input id="registration-button" type="submit" value="REGISTRIRAJ SE">
            </div>
            {{ form_end(form) }}
        </form>
    </div>
</div>