<div id="member-data">

    <div>
        <a href="{{ path('my_profile_trips') }}">Prikaži moje izlete</a>
        <a href="{{ path('my_profile_memberships') }}">Prikaži moje članarine</a>

        <div id="my-data">

        </div>
    </div>

    <div class="member">
        <div>
            <form class="member-form" method="post">
                <div class="member-form-style">
                    <p class="success-message">{{ message }}</p>
                    {{ form_start(form) }}

                    <div class="label-input-container-side">
                        {{ form_label(form.FirstName, null, { 'label_attr': { 'class': 'label-side' } }) }}
                        {{ form_widget(form.FirstName) }}

                        <p></p>
                        <p class="input-error-side">
                            {% for error in form.FirstName.vars.errors %}
                                * {{ error.message|trans }}
                            {% endfor %}
                        </p>
                    </div>

                    <div class="label-input-container-side">
                        {{ form_label(form.LastName, null, { 'label_attr': { 'class': 'label-side' } }) }}
                        {{ form_widget(form.LastName) }}

                        <p></p>
                        <p class="input-error-side">
                            {% for error in form.LastName.vars.errors %}
                                * {{ error.message|trans }}
                            {% endfor %}
                        </p>
                    </div>

                    <div class="label-input-container-side">
                        {{ form_label(form.OIB, null, { 'label_attr': { 'class': 'label-side' } }) }}
                        {{ form_widget(form.OIB) }}

                        <p></p>
                        <p class="input-error-side">
                            {% for error in form.OIB.vars.errors %}
                                * {{ error.message|trans }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div>
                    <input class="member-button" type="submit" value="AŽURIRAJ PODATKE">
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>