<div class="payment-container">
    <div class="payment-details">
        <p class="payment-title">DETALJI PLAĆANJA:</p>
        <div class="payment-details-data-container">
            {% for membershipDetail in membershipDetails %}
                <div class="payment-details-data-mini-container">
                    <p class="payment-details-data">{{ membershipDetail.membershipType.name }}</p>
                    <p class="payment-details-data">{{ membershipDetail.price.value }} {{ membershipDetail.price.unit }}</p>
                </div>
            {% endfor %}
        </div>

        {% if membershipDetails is empty %}
            <p>Nije pronađena nijedna uputa za učlanjivanje u planinarsko društvo {{ hikingAssociation.name }}.</p>
        {% endif %}
    </div>

    <form class="payment" method="post">
        {{ form_start(form) }}
        <div class="payment-form">

            <div class="label-input-container-up">
                {{ form_label(form.PaymentType, null, { 'label_attr': { 'class': 'label' } }) }}
                {{ form_widget(form.PaymentType, { 'attr': { 'class': 'selectize wider-selectize' } }) }}
            </div>

            <div class="label-input-container-up">
                {{ form_label(form.File, null, { 'label_attr': { 'class': 'label' } }) }}
                {{ form_widget(form.File, { 'attr': { 'class': 'selectize wider-selectize' } }) }}
            </div>

            <div class="label-input-container-up">
                {{ form_widget(form.Submit, { 'attr': { 'class': 'selectize wider-selectize payment-button' } }) }}
            </div>
        </div>
        {{ form_end(form) }}
    </form>
</div>